.mobile-menu {
    display: none;
  }
  
  .desktop-menu {
    display: none;
  }
  
  @media (max-width: 767px) {
    .mobile-menu {
      display: block;
    }
    .desktop-menu {
      display: none;
    }
    .onlyMobile {
      display: block!important;
    }
  }
  
  @media (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
    .desktop-menu {
      display: block;
      width: 250px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background: #fff;
      z-index: 1000;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .desktop-menu mat-nav-list {
      padding-top: 60px; // Ajusta según el tamaño de tu header
    }

    .onlyMobile {
      display: none!important;
    }
    .mat-list-base{
      display: flex;
      padding-top: 0px;
    }
  }
  

.mat-icon {
    color: #2493D4;
}

