.spacer {
  flex: 1 1 auto;

  @media (min-width: 768px) {
    max-width: 55px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  height: 3rem !important;
  width: 100%;
}

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: none;
}

@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

  .onlyMobile {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }

  .onlyMobile {
    display: none !important;
  }
}

.enlaceNoLogado {
  color: #333;
}

.flRight {
  float: right;
  text-align: right;
}

.spaceArround {
  justify-content: space-between;
}

.header-btn-join {
  background-color: #0ea5e9 !important;
  color: #fff !important;
  border-radius: 8px;
  font-weight: 600;
  padding: 0 20px;
}

@media (max-width: 900px) {
  .hidden-mobile {
    display: none !important;
  }
}