
<div class="table-button-row">
  
  <form [formGroup]="userForm.baseFormQuery">
    <mat-form-field class="full-width-input" appearance="fill" style="width:100%;">
      <textarea
        formControlName="formQuery"
        matInput
        placeholder="userRepository.createBuilder('user')"
      >
      userRepository.createQueryBuilder("user").where("user.name = :name", { name: "Vicente" }).andWhere("user.username = :id", { id: "user@test.com" }).getMany()
    </textarea>
    </mat-form-field>    
  </form>
  <button
    (click)="createQuery()"
    mat-flat-button
    color="primary"
    class="btn-new"
  >
    Obtener selección
  </button>
  
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="tabla-listado-usuarios">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
    <td mat-cell *matCellDef="let element">{{ element.role }}</td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- apellido1 Column -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
    <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
  </ng-container>

  <!-- sexo Column -->
  <ng-container matColumnDef="sexo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Sexo</th>
    <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
  </ng-container>

  <!-- provincia Column -->
  <ng-container matColumnDef="provincia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</th>
    <td mat-cell *matCellDef="let element">{{ element.provincia }}</td>
  </ng-container>

  <!-- municipio Column -->
  <ng-container matColumnDef="municipio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</th>
    <td mat-cell *matCellDef="let element">{{ element.municipio }}</td>
  </ng-container>

  <!-- codigo_postal Column -->
  <ng-container matColumnDef="codigo_postal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código postal</th>
    <td mat-cell *matCellDef="let element">{{ element.codigo_postal }}</td>
  </ng-container>

  <!-- numero_hijos Column -->
  <ng-container matColumnDef="numero_hijos">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de hijos</th>
    <td mat-cell *matCellDef="let element">{{ element.numero_hijos }}</td>
  </ng-container>

  <!-- ingresos_mensuales Column -->
  <ng-container matColumnDef="ingresos_mensuales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ingresos mensuales</th>
    <td mat-cell *matCellDef="let element">{{ element.ingresos_mensuales }}</td>
  </ng-container>

  <!-- Condiciones legales -->
  <ng-container matColumnDef="condiciones_legales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Condiciones legales</th>
    <td mat-cell *matCellDef="let element">{{ element.condiciones_legales }}</td>
  </ng-container>

  <!-- Reset Token -->
  <ng-container matColumnDef="resetToken">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ResetToken</th>
    <td mat-cell *matCellDef="let element">{{ element.resetToken }}</td>
  </ng-container>

  <!-- created_at -->
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>created_at</th>
    <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
  </ng-container>

  <!-- updated_at -->
  <ng-container matColumnDef="updated_at">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>updated_at</th>
    <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
  </ng-container>

  <!-- telefono -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>telefono</th>
    <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
  </ng-container>

  <!-- is_valid -->
  <ng-container matColumnDef="is_valid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>is_valid</th>
    <td mat-cell *matCellDef="let element">{{ element.is_valid }}</td>
  </ng-container>

  <!-- verifyToken -->
  <ng-container matColumnDef="verifyToken">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>verifyToken</th>
    <td mat-cell *matCellDef="let element">{{ element.verifyToken }}</td>
  </ng-container>

  <!-- fecha_nacimiento -->
  <ng-container matColumnDef="fecha_nacimiento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha_nacimiento</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha_nacimiento }}</td>
  </ng-container>

  <!-- ccaa -->
  <ng-container matColumnDef="ccaa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ccaa</th>
    <td mat-cell *matCellDef="let element">{{ element.ccaa }}</td>
  </ng-container>

  <!-- ocupacion -->
  <ng-container matColumnDef="ocupacion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ocupacion</th>
    <td mat-cell *matCellDef="let element">{{ element.ocupacion }}</td>
  </ng-container>

  <!-- nivel_estudios -->
  <ng-container matColumnDef="nivel_estudios">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>nivel_estudios</th>
    <td mat-cell *matCellDef="let element">{{ element.nivel_estudios }}</td>
  </ng-container>

  <!-- clase_social -->
  <ng-container matColumnDef="clase_social">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>clase_social</th>
    <td mat-cell *matCellDef="let element">{{ element.clase_social }}</td>
  </ng-container>

  <!-- vive_con -->
  <ng-container matColumnDef="vive_con">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>vive_con</th>
    <td mat-cell *matCellDef="let element">{{ element.vive_con }}</td>
  </ng-container>

  <!-- fecha_nacimiento_hijo1 -->
  <ng-container matColumnDef="fecha_nacimiento_hijo1">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha_nacimiento_hijo1</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha_nacimiento_hijo1 }}</td>
  </ng-container>

  <!-- fecha_nacimiento_hijo2 -->
  <ng-container matColumnDef="fecha_nacimiento_hijo2">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha_nacimiento_hijo2</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha_nacimiento_hijo2 }}</td>
  </ng-container>

  <!-- fecha_nacimiento_hijo3 -->
  <ng-container matColumnDef="fecha_nacimiento_hijo3">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha_nacimiento_hijo3</th>
    <td mat-cell *matCellDef="let element">{{ element.fecha_nacimiento_hijo3 }}</td>
  </ng-container>

  <!-- source -->
  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>source</th>
    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
  </ng-container>

  <!-- region -->
  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>region</th>
    <td mat-cell *matCellDef="let element">{{ element.region }}</td>
  </ng-container>

  <!-- areas_nielsen -->
  <ng-container matColumnDef="areas_nielsen">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>areas_nielsen</th>
    <td mat-cell *matCellDef="let element">{{ element.areas_nielsen }}</td>
  </ng-container>

  <!-- poblacion_2021 -->
  <ng-container matColumnDef="poblacion_2021">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>poblacion_2021</th>
    <td mat-cell *matCellDef="let element">{{ element.poblacion_2021 }}</td>
  </ng-container>

  <!-- hombres -->
  <ng-container matColumnDef="hombres">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>hombres</th>
    <td mat-cell *matCellDef="let element">{{ element.hombres }}</td>
  </ng-container>

  <!-- mujeres -->
  <ng-container matColumnDef="mujeres">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>mujeres</th>
    <td mat-cell *matCellDef="let element">{{ element.mujeres }}</td>
  </ng-container>

  <!-- user_invite -->
  <ng-container matColumnDef="user_invite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>user_invite</th>
    <td mat-cell *matCellDef="let element">{{ element.user_invite }}</td>
  </ng-container>

  <!-- friend_register -->
  <ng-container matColumnDef="friend_register">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>friend_register</th>
    <td mat-cell *matCellDef="let element">{{ element.friend_register }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div class="table-button-row">
        <button mat-flat-button color="accent" (click)="onOpenModal(element)">
          Editar
        </button>
        <button mat-flat-button color="warn" (click)="onDelete(element.id)">
          Eliminar
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
</table>
<button
    (click)="exportToExcel()"
    mat-flat-button
    color="primary"
    class="btn-new"
  >
    Exportar selección a excel
  </button>&nbsp;
  <button
    (click)="createQuery(true)"
    mat-flat-button
    color="primary"
    class="btn-new"
  >
    Exportar a excel toda la tabla users
  </button>