
<!--<div class="spaceContent">
  <button
      mat-raised-button
      [mat-dialog-close]="true"
      [color]="perfil.isPerfil? 'secondary' : 'primary'"
      (click)="showPerfil()"
      ckdFocusInitial
    >
    
      ver perfil
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    [color]="perfil.isChangePass? 'secondary' : 'primary'"
    (click)="showChangePass()"
    ckdFocusInitial
  >
  
    Cambiar contraseña
  </button>
  <button
      mat-raised-button
      [mat-dialog-close]="true"
      [color]="perfil.isInviteFriends? 'secondary' : 'primary'"
      (click)="showInvitations()"
      ckdFocusInitial
    >
    
      Invitar a amigos
  </button>
<button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="onOpenModal()"
    ckdFocusInitial
  >
  
    Dar de baja usuairo
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    [color]="perfil.isReward? 'secondary' : 'primary'"
    (click)="showRewards()"
    ckdFocusInitial
  >
  
    Recompensas
  </button>
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    [color]="isPay? 'secondary' : 'primary'"
    (click)="showPays()"
    ckdFocusInitial
  >
  
    Actualizar archivo de pagos
  </button>
  
  
</div> -->

<div *ngIf="perfil.isPerfil" class="spaceContent login-form">
  <mat-card>
    <mat-card-content *ngIf="!isChangePhone">
      <h2>
        {{titleTxt}}
      </h2>
      <p *ngIf="isSaved">Datos guardados correctamente</p>
      <form [formGroup]="userForm.baseFormPatch" *ngIf="dataLoaded">
        <div style="margin-bottom:10px">
          <label>Usuario: <strong>{{ userData.username }}</strong> <a class="enlace" (click)="showChangeEmail()">Cambiar email</a></label>
          <label>Teléfono: <strong>{{ userData.telefono }}</strong> <a class="enlace" (click)="changePhone()">Cambiar teléfono</a></label>
          <p class="textLeft"><a class="enlace bold" (click)="openBajaUsuario()">Dar de baja mi usuario</a></p>
          
          
          <!--<mat-form-field class="full-width-input">
            <input
              formControlName="username"
              matInput
              [placeholder]="userData.username"
              required
            />
            <mat-error *ngIf="checkField('username')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>-->
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <input
              formControlName="name"
              [disabled] = true
              matInput
              placeholder="Nombre"
              required
              [readonly]="isDisabled"
            />
            <mat-error *ngIf="checkField('name')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <input
              formControlName="apellidos"
              matInput
              placeholder="Apellidos"
              required
              [readonly]="isDisabled"
            />
            <mat-error *ngIf="checkField('apellido1')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Sexo </mat-label>
            <mat-select formControlName="sexo" [readonly]="isDisabled">
              <mat-option value="Hombre">Hombre</mat-option>
              <mat-option value="Mujer">Mujer</mat-option>
            </mat-select>
            <mat-error *ngIf="checkField('sexo')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <!--<div>
          <mat-form-field class="full-width-input">
            <input
              formControlName="telefono"
              matInput
              placeholder="Teléfono"
              required
              [readonly]="isDisabled"
            />
            <mat-error *ngIf="checkField('telefono')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div> -->
       
        <div style="display: none">
          <mat-form-field class="full-width-input">
            <input
              formControlName="municipio"
              matInput
              placeholder="Municipio"
              required
              [readonly]="isDisabled"
            />
            <mat-error *ngIf="checkField('municipio')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div style="display:none">
          <mat-form-field class="full-width-input">
            <input
              formControlName="provincia"
              matInput
              placeholder="Provincia"
              required
              [readonly]="isDisabled"
            />
            <mat-error *ngIf="checkField('provincia')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-column">
          <mat-form-field class="full-width-input">
            <input appAutoFormatDate formControlName="fecha_nacimiento" matInput placeholder="Fecha de nacimiento" required id="fecha_nacimiento" />
            <mat-error *ngIf="checkField('fecha_nacimiento')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <input
              formControlName="codigo_postal"
              matInput
              placeholder="Código postal"
              required
              [readonly]="isDisabled"
            />
            <mat-error *ngIf="checkField('codigo_postal')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Número de hijos </mat-label>
            <mat-select formControlName="numero_hijos" [readonly]="isDisabled" (selectionChange)="onSelectionChange($event)">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="6">6</mat-option>
              <mat-option value="7">7</mat-option>
              <mat-option value="8">8</mat-option>
              <mat-option value="9">9</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option>
            </mat-select>
            <mat-error *ngIf="checkField('numero_hijos')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-column" *ngIf="numeroHijos>0">
          <mat-form-field class="full-width-input">
            <input appAutoFormatDate formControlName="fecha_nacimiento_hijo1" matInput placeholder="Fecha de nacimiento hijo 1" required id="fecha_nacimiento" />
            <mat-error *ngIf="checkField('fecha_nacimiento_hijo1')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-column" *ngIf="numeroHijos>1">
          <mat-form-field class="full-width-input">
            <input appAutoFormatDate formControlName="fecha_nacimiento_hijo2" matInput placeholder="Fecha de nacimiento hijo 2" required id="fecha_nacimiento" />
            <mat-error *ngIf="checkField('fecha_nacimiento_hijo2')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-column" *ngIf="numeroHijos>2">
          <mat-form-field class="full-width-input">
            <input appAutoFormatDate formControlName="fecha_nacimiento_hijo3" matInput placeholder="Fecha de nacimiento hijo 3" required id="fecha_nacimiento" />
            <mat-error *ngIf="checkField('fecha_nacimiento_hijo3')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Ocupación </mat-label>
            <mat-select formControlName="ocupacion" [readonly]="isDisabled">
              <mat-option value="Trabajo por cuenta ajena">Trabajo por cuenta ajena</mat-option>
              <mat-option value="Trabajo por cuenta propia (autónomo)">Trabajo por cuenta propia (autónomo)</mat-option>
              <mat-option value="Estudio">Estudio</mat-option>
              <mat-option value="Busco empleo">Busco empleo</mat-option>
              <mat-option value="Labores domésticas">Labores domésticas</mat-option>
              <mat-option value="Retirado/jubilado">Retirado/jubilado</mat-option>
            </mat-select>
            <mat-error *ngIf="checkField('ocupacion')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Actualmente vives </mat-label>
            <mat-select formControlName="vive_con" [readonly]="isDisabled">
              <mat-option value="Sólo/a">Sólo/a</mat-option>
              <mat-option value="Con mi pareja">Con mi pareja</mat-option>
              <mat-option value="Con mi pareja y mis hijos">Con mi pareja y mis hijos</mat-option>
              <mat-option value="Con mis hijos">Con mis hijos</mat-option>
              <mat-option value="Con otros familiares">Con otros familiares</mat-option>
              <mat-option value="Con otras personas">Con otras personas</mat-option>
            </mat-select>
            <mat-error *ngIf="checkField('vive_con')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Nivel de estudios finalizados </mat-label>
            <mat-select formControlName="nivel_estudios" [readonly]="isDisabled">
              <mat-option value="Básicos (Primaria, EGB, etc.)">Básicos (Primaria, EGB, ESO, etc.)</mat-option>
              <mat-option value="Medios (ESO, Bachillerato, FP, etc.)">Medios (Bachillerato, FP, etc.)</mat-option>
              <mat-option value="Universitarios (Grado, Postgrado, Licenciado, Doctorado)">Universitarios (Grado, Postgrado, Licenciado, Doctorado)</mat-option>  
            </mat-select>
            <mat-error *ngIf="checkField('nivel_estudios')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Te consideras de clase social </mat-label>
            <mat-select formControlName="clase_social" [readonly]="isDisabled">
              <mat-option value="Alta">Alta</mat-option>
              <mat-option value="Media alta">Media alta</mat-option>
              <mat-option value="Media media">Media media</mat-option>
              <mat-option value="Media baja">Media baja</mat-option>  
              <mat-option value="baja">baja</mat-option>
            </mat-select>
            <mat-error *ngIf="checkField('clase_social')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>        
        <div>
          <mat-form-field class="full-width-input">
            <mat-label>Ingresos mensuales de tu hogar </mat-label>
            <mat-select formControlName="ingresos_mensuales" [readonly]="isDisabled">
              <mat-option value="Menos de 2.000 euros">Menos de 2.000 euros</mat-option>
              <mat-option value="De 2.000 a 3.000 euros">De 2.000 a 3.000 euros</mat-option>
              <mat-option value="De 3.001 a 4.000 euros">De 3.001 a 4.000 euros</mat-option>
              <mat-option value="Más de 4.000 euros">Más de 4.000 euros</mat-option>
            </mat-select>
            <mat-error *ngIf="checkField('ingresos_mensuales')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <!--<div>
          <mat-form-field class="full-width-input">
            <input
              formControlName="ingresos_mensuales"
              matInput
              placeholder="Ingresos mensuales"
              required
              [readonly]="isDisabled" 
            />
            <mat-error *ngIf="checkField('ingresos_mensuales')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>-->
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          (click)="enableForm()"
          ckdFocusInitial
          class="pdl-5"
        >
          {{modifyTxt}}
        </button>
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          (click)="onSave()"
          ckdFocusInitial
          [disabled]="userForm.baseFormPatch.valid"
          *ngIf="!isDisabled"
        >
        
          Guardar
        </button>

        
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="isChangePhone">
      <h2>
        Cambiar teléfono
      </h2>
      <div *ngIf="showPhoneCodeLab">
        <form [formGroup]="userForm.validateCodeForm" (ngSubmit)="validateSmsCode()">
          <div>
            <label>Código</label>
            <mat-form-field class="full-width-input">
              <input
                text="text"
                formControlName="pin"
                matInput
                placeholder=""
                required
              />
              <!--<mat-error *ngIf="checkField('username')">
                {{ loginForm.errorMessage }}
              </mat-error> -->
            </mat-form-field>
          </div>
          <button
            
            type="submit"
            mat-raised-button
            color="primary"
          >
            Enviar código
          </button>
        </form>
      </div>
      <form [formGroup]="userForm.baseFormPatchTelefono" *ngIf="!showPhoneCodeLab">
        <div>
          <mat-form-field class="full-width-input">
            <input
              formControlName="telefono"
              matInput
              placeholder="Teléfono"
              required
            />
            <mat-error *ngIf="checkField('telefono')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          (click)="changePhone()"
          ckdFocusInitial
        >
        
          Cancelar
        </button>
        &nbsp;
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          (click)="requestPhoneCode()"
          ckdFocusInitial
        >
        
          Cambiar Teléfono
        </button>
        
      </form>
    </mat-card-content>
  </mat-card>
<!-- <div class="spaceContent">
  <button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="showChangePass()"
    ckdFocusInitial
  >
  
    Cambiar contraseña
  </button>

<button
    mat-raised-button
    [mat-dialog-close]="true"
    color="primary"
    (click)="onOpenModal()"
    ckdFocusInitial
  >
  
    Dar de baja usuairo
  </button>
</div> -->

</div>
<div *ngIf="perfil.isChangePass" class="spaceContent login-form">
  <mat-card>
    <mat-card-content>
      <h2>Cambiar contraseña</h2>
      <form [formGroup]="userForm.passwordForm" *ngIf="dataLoaded">
        <div>
          <label>Contraseña Actual</label>
          <mat-form-field class="full-width-input">
            <input
              type="password"
              formControlName="password"
              matInput
              placeholder="Contraseña"
              required 
            />
            <mat-error *ngIf="checkFieldPassword('password')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Nueva Contraseña</label>
          <mat-form-field class="full-width-input">
            <input
              type="password"
              formControlName="newPassword"
              matInput
              placeholder="Nueva Contraseña"
              required 
            />
            <mat-error *ngIf="checkFieldPassword('newPassword')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <label>Confirmar Contraseña</label>
          <mat-form-field class="full-width-input">
            <input
              type="password"
              formControlName="confirmNewPassword"
              matInput
              placeholder="Confirmar Contraseña"
              required 
            />
            <mat-error *ngIf="checkFieldPassword('confirmNewPassword')">
              {{ userForm.errorMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          [mat-dialog-close]="true"
          color="primary"
          (click)="savePassword()"
          ckdFocusInitial
        >
        
          Cambiar Contraseña
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="perfil.isInviteFriends" class="spaceContent login-form">
  <mat-card>
    <mat-card-content>
      <h2>Invitar amigos a través de email</h2>
      <form (ngSubmit)="invitarAmigos()">
        <div class="form-group">
          <label for="userId">Tus comentarios:</label>
          <textarea class="form-control txt-field" id="coments" [(ngModel)]="coments" name="coments" required></textarea>
        </div>
      
        <div class="form-group">
          <label for="friendIds">Los emails de tus amigos:</label>
          <input type="email" class="form-control txt-field" id="friend1" [(ngModel)]="friendIds[0]" name="friend1" required>
          <input type="email" class="form-control txt-field" id="friend2" [(ngModel)]="friendIds[1]" name="friend2">
          <input type="email" class="form-control txt-field" id="friend3" [(ngModel)]="friendIds[2]" name="friend3">
          <input type="email" class="form-control txt-field" id="friend4" [(ngModel)]="friendIds[3]" name="friend4">
          <input type="email" class="form-control txt-field" id="friend5" [(ngModel)]="friendIds[4]" name="friend5">
        </div>
      
        <button type="submit"  mat-raised-button
        color="primary" class="btn btn-primary">Invitar</button>
      </form>
      
    </mat-card-content>
  </mat-card>
  <div class="grid-cols mt-2">

    <div class="containerGrid">
      <mat-card class="disp-flex">
        <a class="contentWhatsapp"
        href="https://wa.me/?text=Te%20env%C3%ADo%20esta%20invitaci%C3%B3n%20para%20unirte%20a%20MasM%C3%A9trica%2C%20empresa%20de%20estudios%20de%20mercado%20que%20te%20pagar%C3%A1%20por%20las%20encuestas%20que%20rellenes.%20%C3%9Anete%20en%20el%20siguiente%20enlace%3A%20https%3A%2F%2Fmasmetrica.es%2Flogin%2Fregister%3Fsource%3DWhatsApp%26user%3D{{userData.id}}"
          target="_blank">
          <img class="imgLogo" src="../../../assets/images/WhatsApp_icon.png"> Envía un WhatsApp a tus amigos invitándoles a darse de alta en MásMétrica
        </a>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="perfil.isReward">
  <h2>Recompensas</h2>
  <table class="rewards-table">

    <thead>
      <tr>
        <th>Fecha de pago</th>
        <th>Nombre Encuesta</th>
        <th>Se pagó vía</th>
        <th>Incentivo pagado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reward of perfil.rewards">
        <td>{{this.reward.FechaPago | date:'dd/MM/yyyy'}}</td>
        <td>{{this.reward.NombreEncuesta}}</td>
        <td>{{this.reward.metodoPago}}</td>
        <td class="text-right">{{this.reward.cantidad | number:'1.2-2'}}</td>
      </tr>
      <tr class="total">
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">Total: {{perfil.totalRewards}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="perfil.isPay">
  <input type="file" (change)="onFileSelected($event)">
<button (click)="onUpload()">Subir archivo</button>
<button (click)="onDownload()">descargar archivo</button>
<!--<button (click)="onDownload()">Descargar archivo</button>-->
</div>

<div *ngIf="isChangeEmail" class="spaceContent login-form">
  <form [formGroup]="emailForm" (ngSubmit)="requestEmailChange()">
    <mat-form-field>
      <input matInput placeholder="Nuevo email" formControlName="newEmail" required>
    </mat-form-field>
    <button mat-raised-button color="secondary" type="button" (click)="showPerfil()">cancelar</button>
    &nbsp;<button mat-raised-button color="primary" type="submit">Cambiar email</button>
  </form>
</div>

<div *ngIf="isCodeSent" class="spaceContent login-form">
  <form [formGroup]="verificationForm" (ngSubmit)="verifyEmailCode()">
    <p>Hemos enviado un código de verificación a tu nuevo email, por favor introduce el código para finalizar el cambio de email</p>
    <mat-form-field>
      <label>Código de verificación</label>
      <input matInput placeholder="Código de verificación" formControlName="verificationCode" required>
    </mat-form-field>
    <button mat-raised-button color="secondary" type="button" (click)="showPerfil()">cancelar</button>
    &nbsp;<button mat-raised-button color="primary" type="submit">Verificar y cambiar email</button>
  </form>
</div>

<ng-template #dialogTemplate>
  <h1 mat-dialog-title>Perfil Modificado</h1>
  <div mat-dialog-content>
    <p>Su perfil se ha modificado correctamente.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
  </div>
</ng-template>

<ng-template #dialogTemplate>
  <h1 mat-dialog-title>Modificación del teléfono</h1>
  <div mat-dialog-content>
    <p>El número de teléfono se ha modificado correctamente</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cerrar</button>
  </div>
</ng-template>

<ng-template #inviteDialogTemplate>
  <h1 mat-dialog-title>Invitación Enviada</h1>
  <div mat-dialog-content>
    <p>Las invitaciones a tus amigos se han enviado correctamente.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="showPerfil()">Cerrar</button>
  </div>
</ng-template>

<ng-template #changePassDialogTemplate>
  <h1 mat-dialog-title>Contraseña modificada</h1>
  <div mat-dialog-content>
    <p>Las contraseña se ha modificado exitosamente.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="showPerfil()">Cerrar</button>
  </div>
</ng-template>

<ng-template #confirmBajaDialogTemplate>
  <h1 mat-dialog-title>Baja de usuario</h1>
  <div mat-dialog-content>
    <p>Tu usuario ha sido dado de baja correctamente, esperamos volverte a ver de nuevo por aquí.</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="goToLogin()">Cerrar</button>
  </div>
</ng-template>

<ng-template #errorEmail>
  <h1 mat-dialog-title>Error al introducir el email</h1>
  <div mat-dialog-content>
    <p>Se ha producido un error:</p>
    <p>Es posible que el email introducido ya esté en uso</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
  </div>
</ng-template>

<ng-template #emailGuardado>
  <h1 mat-dialog-title>Email modificado</h1>
  <div mat-dialog-content>
    <p>Su email ha sido modificado correctamente</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="showPerfil()">Cerrar</button>
  </div>
</ng-template>

<ng-template #errorGenerico>
  <h1 mat-dialog-title>Error</h1>
  <div mat-dialog-content>
    <p>{{errorGenericoTxt}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="showPerfil()">Cerrar</button>
  </div>
</ng-template>

<ng-template #successGenerico>
  <h1 mat-dialog-title>OK</h1>
  <div mat-dialog-content>
    <p>{{successGenericoTxt}}</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="showPerfil()">Cerrar</button>
  </div>
</ng-template>

<ng-template #bajaUsuario>
  <h1 mat-dialog-title>Baja de usuario</h1>
  <div mat-dialog-content>
    <p>Para finalizar el proceso de baja de usuario introduzca su contraseña</p>
  </div>
  <div mat-dialog-actions>
    <form [formGroup]="userForm.passwordForm" *ngIf="dataLoaded">
      <div>
        <label>Introduzca contraseña</label>
        <mat-form-field class="full-width-input">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Contraseña"
            required 
          />
          <mat-error *ngIf="checkFieldPassword('password')">
            {{ userForm.errorMessage }}
          </mat-error>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        [mat-dialog-close]="true"
        color="secundary"
        (click)="showPerfil()"
        ckdFocusInitial
      >
      
        Cancelar
      </button>
      <button
        mat-raised-button
        [mat-dialog-close]="true"
        color="primary"
        (click)="deleteUser()"
        ckdFocusInitial
      >
      
        Dar de baja mi usuario
      </button>
      
    </form>
  </div>
</ng-template>