mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  background-color: #f9fbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-sidenav-container {
  height: 100%;
}

.contentBody {
  width: 100%;
  max-width: 1850px;
  margin: 0 auto;
  height: 100%;
  display: table;

  @media (max-width: 600px) {
    padding: 0px;
  }
}

.disp-flex {
  display: flex;
}

.txt-field {
  padding: 4px;
  margin-top: -0.0625em;
  line-height: 1.8em;
  background-color: lavender;
  border: 0px;
  width: 100%;
}

.enlace {
  color: #2493D4;
}

.mobile-menu {
  display: none;
}

.desktop-menu {
  display: none;
}

@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  }
}