<div class="login-form" *ngIf="showForm">
  <mat-card>
    <mat-card-content>
      <p class="txtAzul">Crea tu usuario de MasMétrica y gana dinero efectivo vía PayPal, Amazon, Bizum, etc. por dar tu opinión en divertidas encuestas.</p>
      <p>Regístrate y disfruta todas las ventajas que te ofrece <b>MásMétrica</b></p>
      <form [formGroup]="userForm.baseFormRegister" (ngSubmit)="onSave()" class="registration-form">
        <div class="form-row">
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <input formControlName="username" matInput placeholder="Email" required />
              <mat-error *ngIf="checkField('username')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-column">
            <mat-form-field class="full-width-input separator">
              <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput placeholder="Password" required />
              <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
              <mat-error *ngIf="checkField('password')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <input formControlName="name" matInput placeholder="Nombre" required />
              <mat-error *ngIf="checkField('name')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <input formControlName="apellidos" matInput placeholder="Apellidos" required />
              <mat-error *ngIf="checkField('apellidos')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <input appAutoFormatDate formControlName="fecha_nacimiento" matInput placeholder="Fecha de nacimiento" required id="fecha_nacimiento" />
              <mat-error *ngIf="checkField('fecha_nacimiento')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <input type="text" placeholder="Código postal" matInput formControlName="codigo_postal">
              <mat-error *ngIf="checkField('codigo_postal')">
                El código postal no es válido.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <mat-label>Sexo</mat-label>
              <mat-select formControlName="sexo">
                <mat-option value="Hombre">Hombre</mat-option>
                <mat-option value="Mujer">Mujer</mat-option>
              </mat-select>
              <mat-error *ngIf="checkField('sexo')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-column">
            <mat-form-field class="full-width-input">
              <input text="text" formControlName="phone" matInput placeholder="Teléfono" required />
              <mat-error *ngIf="checkField('phone')">
                {{ userForm.errorMessage }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row condiciones">
          <mat-checkbox formControlName="condiciones_legales" class="condiciones_legales">
            <div class="condiciones_txt">
              Acepto las
              <a class="enlace" (click)="openPolicyModal('Política de Privacidad', 'privacidad')">políticas de privacidad</a>
              y las
              <a class="enlace" (click)="openPolicyModal('Condiciones Generales', 'generales')">condiciones generales</a>
            </div>
          </mat-checkbox>
          <mat-error *ngIf="checkField('condiciones_legales')">
            {{ userForm.errorMessage }}
          </mat-error>
        </div>
        <button [disabled]="userForm.baseFormRegister.invalid" type="submit" mat-raised-button color="primary">
          Registrarme
        </button>
        <button mat-raised-button color="primary" (click)="goToLogin()" class="ml-5">
          Ir a login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="login-form" *ngIf="showOkMessage">
  <h2>Confirmación</h2>
  <p>Hemos enviado un email de confirmación a tu correo electrónico con las instrucciones necesarias para completar tu proceso de alta.
    Por favor, sigue las instrucciones y pasarás a formar parte de nuestros usuarios</p>
</div>

<div class="login-form" *ngIf="showErrorMessage">
  <h2>Error</h2>
  <p>Se ha producido un error en el proceso de alta, por favor vuelve a intentarlo pasados unos minutos</p>
</div>
