label {display: block}
.login-form{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    label {
        display: block;
        text-align: left;
    }
    @media (min-width: 768px) {
        max-width: 750px;
    }
} 

/* Estilos base para el formulario */
.registration-form .form-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .registration-form .form-column {
    flex: 0 0 100%; /* Ocupa todo el ancho en dispositivos móviles */
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    @media (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  
  /* Estilos para tablets y desktops */
  @media (min-width: 768px) {
    .registration-form .form-column {
      flex: 0 0 45%; /* Ocupa la mitad del ancho en pantallas más grandes */
      max-width: 45%;
    }
  }
  
  /* Ajustes adicionales para garantizar que los campos de formulario se vean bien */
  .mat-form-field {
    width: 100%; /* Asegura que los campos de Material ocupen todo el ancho disponible */
  }

  .font-13{font-size: 13px}

  .enlace{
    color: #2493D4;
  }

  .txtAzul{
    color:#2493D4
  }

  

  .mat-checkbox-layout .mat-checkbox-label {
    line-height: 17px;
}

.condiciones_legales{
  *{
    white-space: normal!important;
  }
  .condiciones_txt {
    line-height: 18px;
    text-align: left;
    padding-top: 14px;
  }
}

.ml-5{
  margin-left: 5px;
}
  
.condiciones{
  margin-bottom:7px;
}