<footer class="footer" *ngIf="1 == 1">
  
  <section data-bs-version="5.1" class="footer6 cid-sYyWY0vU68" once="footers" id="footer6-v">

    

    

    <div class="container">
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    
                </div>
            </div>
            <div class="col-sm-12 copyright pl-0">
                <p class="mbr-text mbr-fonts-style mbr-white display-7 animate__animated animate__delay-1s animate__fadeInUp">
                    © Copyright MásMétrica Reseach Company S.L. - All Rights Reserved
                </p>
                <p>
                    mas info en: <a href="https://www.masmetrica.com" target="_blank">https://www.masmetrica.com</a>. Puedes consultar nuestra <a (click)="openPolicyModal('Política de Privacidad', 'privacidad')">política de privacidad</a> y <a (click)="openPolicyModal('Condiciones Generales', 'generales')">Condiciones generales</a>
                </p>
            </div>
        </div>
    </div>
</section>
</footer>
