<footer class="footer" *ngIf="1 == 1">
  
  <section data-bs-version="5.1" class="footer6 cid-sYyWY0vU68" once="footers" id="footer6-v">

    

    

    <div class="container">
        <div class="row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7 animate__animated animate__delay-1s animate__fadeInUp">
                    <strong>Dirección:</strong></h5>
                <p class="mbr-text mbr-fonts-style display-7 animate__animated animate__delay-1s animate__fadeInUp">
                    Calle Velázquez, 176, 2º Planta.&nbsp;28002. Madrid.</p> <br>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 mt-4 display-7 animate__animated animate__delay-1s animate__fadeInUp">
                    <strong>Contacto:</strong></h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-7 animate__animated animate__delay-1s animate__fadeInUp">- Email: <a href="mailto:info@masmetrica.com" class="text-primary">info@masmetrica.com</a> <br><br>- Teléfono: <a href="tel:614365100" class="text-primary">+&nbsp;34 614 365 100</a><br><br>- <a href="http://www.masmetrica.com/Contacto.html#form5-4g" class="text-primary">Formulario de contacto</a><br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7 animate__animated animate__delay-1s animate__fadeInUp"><strong>Protección de datos y legal:</strong></h5>
                <ul class="list mbr-fonts-style mb-4 display-4">
                    <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeInUp">-&nbsp;<a href="politica_de_privacidad.html" class="text-primary animate__animated animate__delay-1s animate__fadeInUp">Política de privacidad</a></li>
                    <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeInUp">-&nbsp;<a href="condiciones_legales.html" class="text-primary animate__animated animate__delay-1s animate__fadeInUp">Condiciones legales</a></li>
                    <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeInUp">-&nbsp;<a href="Politica_de_Cookies.html#top" class="text-primary animate__animated animate__delay-1s animate__fadeInUp">Política de cookies</a></li>
                </ul>
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 mt-5 display-7 animate__animated animate__delay-1s animate__fadeInUp"><strong>Área de panelistas:</strong></h5>
                <p class="mbr-text mbr-fonts-style mb-4 display-7 animate__animated animate__delay-1s animate__fadeInUp">- <a href="Panel.html#top" class="text-primary">Regístrate en MásMétrica</a><br><br>- <a href="Panel.html#top" class="text-primary">Accede a tu área de usuario</a><br><br>- <a href="conoce_nuestro_panel.html" class="text-primary">Conoce nuestro panel</a></p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDbnCmnHmtigIYiD8jIfeHQv7gW2ANhHD4&amp;q=Calle velazquez número 176, Madrid" allowfullscreen=""></iframe></div>
            </div>
            <div class="col-md-6">
                <div class="social-list align-left">
                    <div class="soc-item">
                        <a href="https://wa.me/614365100" class="animate__animated animate__delay-1s animate__fadeInUp">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/MasMetrica" target="_blank" class="animate__animated animate__delay-1s animate__fadeInUp">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com/c/MasMetrica" target="_blank" class="animate__animated animate__delay-1s animate__fadeInUp">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/MasMetrica" target="_blank" class="animate__animated animate__delay-1s animate__fadeInUp">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/MasMetrica" target="_blank" class="animate__animated animate__delay-1s animate__fadeInUp">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="col-sm-12 copyright pl-0">
                <p class="mbr-text mbr-fonts-style mbr-white display-7 animate__animated animate__delay-1s animate__fadeInUp">
                    © Copyright MásMétrica Reseach Company S.L. - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>
</footer>
