<div class="login-form">
<mat-card>
  <mat-card-content>
    <h1>RECUPERAR CONTRASEÑA</h1>
    <p class="text-aling-lft">Introduce tu email y te enviaremos las instrucciones para recuperar tu contraseña</p>
    <form [formGroup]="userForm.recoveryPasswordForm">
      <div>
        <label>Usuario:</label>
        <mat-form-field class="full-width-input">
          <input
            formControlName="username"
            matInput
            placeholder="usuario@email.com"
            required
          />
          <mat-error *ngIf="checkFieldEmail('username')">
            {{ userForm.errorMessage }}
          </mat-error>
        </mat-form-field>
        <button
        mat-raised-button
        [mat-dialog-close]="true"
        color="primary"
        (click)="sendEmail()"
        ckdFocusInitial
      >
      
        Recuperar Contraseña
      </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>