<section class="mm-hero">
  <div class="mm-container mm-split">

    <!-- Texto Izquierda -->
    <div class="mm-split__content new-design">
      
      <h1 class="mm-title">
        Tu opinión<br>transforma el <br><span class="text-blue">futuro.</span>
      </h1>

      <p class="mm-subtitle">
        Únete a nuestra comunidad de usuarios. Comparte tus experiencias, influye en las decisiones de grandes
        marcas y sé recompensado por tu valioso tiempo.
      </p>

      <div class="mm-actions">
        <button class="mm-btn mm-btn--primary" routerLink="/register">Comenzar ahora</button>
        <button class="mm-btn mm-btn--ghost" routerLink="/login">Iniciar sesión</button>
      </div>

      <div class="mm-cards-row">
        <div class="mm-card-info">
          <div class="icon-wrapper">
            <mat-icon>card_giftcard</mat-icon>
          </div>
          <h3>Recompensas Reales</h3>
          <p> Sin sorteos ni acumulación de puntos. Pagos directos por encuestas.</p>
        </div>
        <div class="mm-card-info">
          <div class="icon-wrapper">
            <mat-icon>devices</mat-icon>
          </div>
          <h3>Fácil Acceso</h3>
          <p>Participa desde tu móvil, tablet o PC en cualquier momento.</p>
        </div>
      </div>
    </div>

    <!-- Imagen Derecha -->
    <div class="mm-split__media new-media"></div>

  </div>
</section>