<div class="login-form">
  <mat-card class="login-card">
    <mat-card-content>
      <p class="font-13 txtAzul">Bienvenido al Área de usuario de MásMétrica, donde ganas dinero efectivo vía PayPal, Amazon, Bizum, etc. por dar tu opinión en divertidas encuestas.</p>
      <form [formGroup]="loginForm.baseFormLogin" (ngSubmit)="onLogin()">        
        <mat-form-field class="full-width-input">
          <label>Usuario:</label>
          <input
            text="text"
            formControlName="username"
            matInput
            placeholder="Usuario"
            required
          />
          <mat-error *ngIf="checkField('username')">
            Error en el campo username
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <label>Password:</label>
          <input
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            matInput
            placeholder="Password"
            required
          />
          <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="checkField('password')">
            {{ loginForm.errorMessage }}
          </mat-error>
        </mat-form-field>.
        <button
          [disabled]="loginForm.baseFormLogin.invalid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Login
        </button>
      </form>
    </mat-card-content>
    <p class="pointer" (click)="goToRecoverPassword()">¿Olvidaste tu contraseña?</p>
        <p class="mt25 pointer">¿Aún no tienes usuario? <span class="enlace" (click)="goToRegister()">Regístrate</span></p>
  </mat-card>
</div>
