.rewards-table {
    width:100%
}

thead {
    background-color: #2493D4;
}
thead th {
    font-weight: normal;
    color: white;
}
tbody tr {
    border-bottom: 1px solid #673ab7;
    text-align: center;
}
tbody td {
    border-bottom:1px solid #673ab7;
}
.total td {
    border-bottom: 0px;
    font-weight: bold;
}